name: Deploy to Github Pages

on:
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '14'
          cache: 'npm'

      - name: Build
        run: |
          npm i
          npm run build
          npm run export
        env:
          NEXT_PUBLIC_BASE_PATH: /me
          NEXT_PUBLIC_GOOGLE_ANALYTICS: ${{ secrets.NEXT_PUBLIC_GOOGLE_ANALYTICS }}
          NEXT_PUBLIC_REACT_APP_SPOTIFY_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_REACT_APP_SPOTIFY_CLIENT_ID }}
          NEXT_PUBLIC_REACT_APP_SPOTIFY_CLIENT_SECRET: ${{ secrets.NEXT_PUBLIC_REACT_APP_SPOTIFY_CLIENT_SECRET }}
          NEXT_PUBLIC_REACT_APP_SPOTIFY_REFRESH_TOKEN: ${{ secrets.NEXT_PUBLIC_REACT_APP_SPOTIFY_REFRESH_TOKEN }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./out
